body{
    text-align: center;
    background-color: white;
    font-family: Arial, sans-serif;
}

h1{
    font-size: 3rem;
    margin-top: 20px;
}

h2{
    font-size: 1.5rem;
    margin-top: 20px;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.5rem;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.2s;
}

.btn-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.line-one, .line-two{
    display: flex;
}

.red{ background-color: #d95980; }
.yellow{ background-color: #f99b45; }
.purple{ background-color: #819ff9; }
.green{ background-color: #63aac0; }

.flash{
    background-color: white !important;
}

.userFlash{
    background-color: #00ff00 !important;
}
